<!DOCTYPE html>
<html>
    <%- include('../partials/head'); %>
    
<body>
    <%- include('../partials/header'); %>
    <main class="product-list">
        <aside class="filter group">
            <form action="" class="filter form" id="filters">
                <div class="order">
                
                    <label for="ordenar">Ordenar por</label>
                    <select name="ordenar" id="ordenar">
                        <option value="id" data-desc="true">Novedad</option>
                        <option value="price" data-desc="false">Mayor precio</option>
                        <option value="price" data-desc="true">Menor precio</option>
                        <option value="ibu" data-desc="false">Mayor amargor</option>
                        <option value="ibu" data-desc="true">Menor amargor</option>
                        <option value="rating" data-desc="false">Mayor puntaje</option>
                        <option value="rating" data-desc="true">Menor puntaje</option>
                    </select>
                    
                </div>
                <div class="filter controls">                  

                        <label for="precio">Precio</label>
                        <div class="range price">
                            <input type="number" name="precio-minimo" id="min-price" placeholder="Min">
                            <input type="number" name="precio-maximo" id="max-price" placeholder="Max">
                            <button id="btn-price-check" class="btn-price-check">></button>
                        </div>
                                            
                        <div class= "range alcohol">
                            <label for="amargor">Alcohol</label><br>
                            <% var minAlcohol = productos.reduce((min, x) => {if(min.abv>x.abv){ %>
                            <%    min = x } %>
                            <% return min }) %>
                            <% var maxAlcohol = productos.reduce((max, x) => {if(max.abv<x.abv){ %>
                                <%    max = x } %>
                                <% return max }) %>

                            <input type="range" class="slider" name="alcohol" id="alcohol" min="<%= JSON.stringify(minAlcohol.abv) %>" max="<%= JSON.stringify(maxAlcohol.abv) %>">
                            <div class="range-display" id="alcohol-display">5.2</div>
                        </div>

                        <div class= "range ibu">
                            <label for="amargor">Amargor</label><br>
                            <% var minIbu = productos.reduce((min, x) => {if(min.ibu>x.ibu){ %>
                                <%    min = x } %>
                                <% return min }) %>
                                <% var maxIbu = productos.reduce((max, x) => {if(max.ibu<x.ibu){ %>
                                    <%    max = x } %>
                                    <% return max }) %>

                            <input type="range" class="slider" name="amargor" id="amargor" min="1" max="100">
                            <div class="range-display" id="ibu-display">24</div>
                        </div>

                        <div class="category">
                            <label for="Category">Categorías</label>
                            <ul class= "category-list">
                                <li class= "category-item">
                               
                                    <input type="checkbox" name= "categoria" id="allCategories" value = "all" >
                                    Todas 
                                </li>
                         
                                <% for (let i = 0; i < categorias.length; i++){ %>
                                    <li class= "category-item">
                               
                                    <input type="checkbox" name= "categoria" id="" value = "<%= categorias[i] %>" >
                                    <%= categorias[i].name %>
                                    
                                    </li>
                               
                                <% } %>

                            </ul>
                         
                        
                        </div>

                        <div class="maker">
                            <label for="maker">Fabricantes</label>
                            <ul class= "maker-list">
                                <li class= "maker-item">
                               
                                    <input type="checkbox" name= "fabricante" id="allMakers" value = "all" >
                                    Todos                                    
                                </li>
                         
                                <% for (let i = 0; i < fabricantes.length; i++){ %>
                                    <li class= "maker-item">
                               
                                    <input type="checkbox" name= "fabricante" id="" value = "<%= fabricantes[i] %>" >
                                    <%= fabricantes[i].name %>
                                    
                                    </li>
                               
                                <% } %>

                            </ul>
                         
                        
                        </div>


                        <!-- <button type="submit" class="filter-btn" style="display: none;">Aplicar</button>
                        <div class="btn-container">
                            <button id="btnsubmit" class="filter-btn">Aplicar</button>
                        </div> -->

                    
                </div>
            </form>
            
        </aside>
        <div class="title-list">
            <div class="title-products">
                <h2>Productos</h2>
                <span>home - productos</span>
            </div>
            <div id= "list-container" class = "list container">
                <% let n = 0; %>  
                <% for (let i = 0; i<productos.length; i++){ %>
                  
                    <%n++%>
                      
                    <div class= "list card bestCard" id="card<%=n%>" data-link="/products/<%=productos[i].id%>">
                        <div class="card title">
                            <a href="/products/<%=productos[i].id%>" class="prodTitle">
                                <h3 id="prod-title"><%=productos[i].name%></h3>
                            </a>
                            <h5>por <%=productos[i].maker.name%></h5>
                              
                        </div>
                            
                        
                        <div class= "card prod-img">
                            <a href="/products/<%=productos[i].id%>" class="prodTitle">
                                <img id="prod-img" class="prod-img" src="/uploads/<%=productos[i].image%>" alt="imagen producto">
                            </a>
                        </div>

                        <div class="card rating">
                            <% for (let s = 1; s <= productos[i].rating; s++){ %>
                            <div class="fullstar"><img src="/img/star_full.svg" alt=""></div><% } %>
                            <% for (let r = 1; r <= (5-(productos[i].rating)); r++){ %> 
                                <div class="emptystar"><img src="/img/star_empty.svg" alt=""></div>
                            <% } %>
                        </div>
                        <div class="card price">$<%=productos[i].price%></div>

                        <div class= "meter alcohol">
                            <div class= "alcohol text">
                                <h4>Alcohol</h4>
                                <h4 id="percentage-alcohol"><%=productos[i].abv%>%</h4>
                            </div>
                            <% var abv = (((productos[i].abv)/14)*100)+"%" %>
                            
                            <div class="bar alcohol"><div id="bar-level-alcohol" style= "width: <%= abv %>"></div></div>
                        </div>
                    

                        <div class= "meter bitternes">
                            <div class="bitternes text">
                                <h4>Amargor</h4>
                                <h4 id="number-bitternes"><%=productos[i].ibu%></h4>
                            </div>
                            <% var ibu = productos[i].ibu+"%" %>
                            <div class="bar bitternes"><div id="bar-level-bitternes" style= "width: <%= ibu %>"></div></div>
                        </div>
                        <div class="meter srm">
                            <h4>Tono</h4>
                            <% var color = productos[i].srm %>
                            <% var tono = coloresSrm[color]%>
                            <div class = "srm-circle" id = "color-srm" style = "background-color: <%= productos[i].srm_index.code %> "></div>
                        </div>
                        

                    </div>
                    
                
                    
                <% } %> 

                
            </div>

        </div>
        
    </main>
    <% var productlist = JSON.stringify(productos) %>
    <div style="display: none" id="arrayproductos" data="<%=productlist%>" ></div>
    <%- include('../partials/footer'); %>
    <script src="./scripts/filters.js"></script>
    
</body>
</html>