<!DOCTYPE html>
<html>
    <%- include('../partials/head'); %>
<body>
    <%- include('../partials/header'); %>
    
    <main class="create">
        <div class="container">
            <h2 class="title">CREAR UN PRODUCTO</h2>
            <div class="separador"></div>
            <% if (typeof errors != 'undefined'){ %> 
                <ul>
                    <% for (let i = 0 ; i < errors.length ; i++){ %> 
                        <li>
                            <%= errors[i].msg  %> 
                        </li>
                    <% } %> 
                </ul>
                <% } %> 
            <hr>
            <div class="formCreate">
                <form id="createForm" action="" method="post" enctype="multipart/form-data">
                    <div class="name">
                        <label for="pname">Nombre</label>
                        <input id="pname" name="pname" type="text">
                    </div>
                    <small id="errorName"></small>
                    <div class="maker">
                        <label for="pmaker">Fabricante</label>
                        <select id="pmaker" name="pmaker">
                            <% for (let i = 0; i < fabricantes.length; i++){ %>
                            <option value= <%= fabricantes[i].id %> > <%= fabricantes[i].name %> </option>
                            <% } %>
                        </select>
                    </div>
                    <div class="category">
                        <label for="pcategory">Categoría</label>
                        <select id="pcategory" name="pcategory">
                            <% for (let i = 0; i < categorias.length; i++){ %>
                            <option value= <%= categorias[i].id %> > <%= categorias[i].name %> </option>
                            <% } %>
                        </select>
                    </div>
                    <div class="abv">
                        <label for="pabv">Alcohol (%)</label>
                        <input id="pabv" name="pabv" type="number" min="0" value="0" max="40">
                    </div>
                    <small id="errorAbv"></small>
                    <div class="ibu">
                        <label for="pibu">Amargor (IBU)</label>
                        <input id="pibu" name="pibu" type="number" min="0" value="0" max="40">
                    </div>
                    <small id="errorIbu"></small>
                    <div class="srm">
                        <label for="psrm">Tono (SRM)</label>
                        <div class="data-srm">
                            <h5 id="valor-srm" class="valor-srm">12</h5>
                            <input id="psrm-range" name="psrm" type="range" min="1" max="40" value="12">
                            <div id="color-srm" class="color-srm"></div>
                        </div>
                    </div>
                    <div class="desc">
                        <label for="pdesc">Descripción</label>
                        <textarea name="pdesc" id="pdesc" rows="10" cols="20"></textarea>
                    </div>
                    <small id="errorDesc"></small>
                    <div class="format">
                        <label for="pformat">Formato</label>
                        <select id="pformat" name="pformat">
                            <% for (let i = 0; i < formatos.length; i++){ %>
                            <option value= <%= formatos[i].id %> > <%= formatos[i].name %> </option>
                            <% } %>
                        </select>
                    </div>
                    <div class="capacity">
                        <label for="pcapacity">Capacidad</label>
                        <select id="pcapacity" name="pcapacity">
                            <option value="330">330 ml</option>
                            <option value="473">473 ml</option>
                            <option value="500">500 ml</option>
                            <option value="660">660 ml</option>
                            <option value="730">730 ml</option>
                            <option value="750">750 ml</option>
                            <option value="1000">1 lt</option>
                            <option value="1900">1,9 lts</option>
                            <option value="2000">2 lts</option>                                                       
                        </select>
                    </div>
                    <div class="price">
                        <label for="pprice">Precio</label>
                        <input id="pprice" name="pprice" type="number" step="any" min="0" value="0" max="10000">
                    </div>
                    <small id="errorPrice"></small>
                    <!-- <div class="pack">
                        <label for="ppack">Pack</label>
                        <input id="ppack" name="ppack" type="number">
                    </div> -->
                    <div class="image">
                        <label for="pimage">Imagen</label>
                        <input id="pimage" name="pimage" type="file">
                    </div>
                    <button type="submit">Crear</button>
                </form>
            </div>
        </div>
    </main>
    <%- include('../partials/footer'); %>
    <script src="/scripts/productsFront.js"></script>
    
    <!-- script para cargar los colores de SRM disponibles -->
    <script>
        
        let arrayColores = <%-JSON.stringify(coloresSrm)%>;
            
                           

        var inputSrm = document.getElementById("psrm-range");
        var valorNumeroSrm = document.getElementById("psrm-range").value;
        var numeroSrm = valorNumeroSrm;
        var ventanaSrm =document.getElementById("color-srm");
        var valor = document.getElementById("valor-srm");

        console.log(numeroSrm);

        inputSrm.addEventListener("input", function() {
            valorNumeroSrm = document.getElementById("psrm-range").value;
            numeroSrm = valorNumeroSrm;
            ventanaSrm.style.backgroundColor = arrayColores[numeroSrm].code;
            valor.innerText = valorNumeroSrm;
        })
       
    </script>
    
    
</body>
</html>