<!DOCTYPE html>
<html>
    <%- include('../partials/head'); %>
<body>
    <%- include('../partials/header'); %>
    <main class="product-list combo">
        
        <div class="title-list">
            <div class="title-products">
                <h2>Combos</h2>
                <span>Home - Combos</span>
            </div>
            <div id= "list container" class = "list container combo">
                <% for (let i = 0; i<combos.length; i++){ %>
                    <div class="card combo">
                        <div class="titlecombo">
                            <div>
                                <h4><%=combos[i].name%></h4>
                                <p>$<%=combos[i].price%></p>
                            </div>
                            <div class="detail-link">
                               <a href="/combos/<%=combos[i].id%>">ver detalle</a>
                            </div>
                        </div>

                        <div class="imgcontainer combo">
                            <a href="/combos/<%=combos[i].id%>"><img src="/uploads/<%=combos[i].image%>" alt="<%=combos[i].name%>"></a>
                        </div>
                        
                        
                    </div>

                    <% } %>

                
            </div>

        </div>
        
    </main>
    <%- include('../partials/footer'); %>
    
</body>
</html>