<!DOCTYPE html>
<html>
    <%- include('../partials/head'); %>
<body>
    <%- include('../partials/header'); %>
    <main class="create">
        <div class="container">
            <h2 class="title">Combo a editar:</h2><h2 class="product-name-edit"><%= combo.name %></h2>
            <div class= "edit-image">
                <img id="prod-img" src="/uploads/<%=combo.image%>" alt="imagen producto">
            </div>
            <div class="separador"></div>
            <div class="formCreate">
                <form action="/admin/combos/<%= combo.id %>/edit?_method=PUT" method="post" enctype="multipart/form-data">
                    <div class="name">
                        <label for="pname">Nombre</label>
                        <input id="pname" name="pname" type="text" value="<%= combo.name %>">
                    </div>
                    <div class="desc">
                        <label for="pdesc">Descripción</label>
                        <textarea name="pdesc" id="pdesc" rows="10" cols="20"><%= combo.description %></textarea>
                    </div>
                    <div class="price">
                        <label for="pprice">Precio</label>
                        <input id="pprice" name="pprice" type="number" step="any" value="<%= combo.price %>">
                    </div>
                    <div class="image">
                        <label for="pimage">Imagen</label>
                        <input id="pimage" name="pimage" type="file">
                    </div>
                    <button type="submit">Editar</button>
                </form>
            </div>
        </div>
    </main>
    <%- include('../partials/footer'); %>
</body>
</html>
