<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head'); %>
<body>
    <%- include('../partials/header'); %>
    <main>
        <div class="slide-container">
            <div class="slide desktop">
                <img src="/img/slides/Banner1_desktop.jpg" alt="">
            </div>
            <div class="slide mobile">
                <img src="/img/slides/Banner1_mobile.jpg" alt="">
            </div>
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
            <div class="dot-container">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
              </div>
        </div>

    
        <section class="best">
            <div class="title-all">
                <h2>Cervezas mejor calificadas</h2>
                <a href="/products">ver todas</a>
            </div>
            <div class="window-container" id="window-container">
                <div class= "column"><a class="prev-card best-button" id= "last-best" data-id= "last-best" data-class="best-button"  data-window="bestWindow" data-card="bestCard" data-count=-1 data-index=0 onclick="plusCard()">&#10094;</a></div>
                <div class= "window" id="bestWindow">
                    <% let n = 0; %>
                    <% for (let i = 0; i<productos.length; i++){ %>
                        
                        <% if (productos[i].rating > 3){ %>
                            <%n++%>    
                            <div class= "list card bestCard" id="card<%=n%>">
                            <div class="card title">
                                <a href="/products/<%=productos[i].id%>" class="prodTitle"><h3 id="prod-title"><%=productos[i].name%></h3></a>
                                <h5>por <a class="prod-maker" id="prod-maker" href="#"><%=productos[i].maker.name%></a></h5>
                            </div>
                            
                            <div class= "card prod-img">
                                <a href="/products/<%=productos[i].id%>" class="prodTitle"><img id="prod-img" src="/uploads/<%=productos[i].image%>" alt="imagen producto"></a>
                            </div>
                            <div class="card rating">
                                <% for (let s = 1; s <= productos[i].rating; s++){ %>
                                <div class="fullstar"><img src="/img/star_full.svg" alt=""></div><% } %>
                                <% for (let r = 1; r <= (5-(productos[i].rating)); r++){ %> 
                                    <div class="emptystar"><img src="/img/star_empty.svg" alt=""></div>
                                <% } %>
                            </div>

                            <div class= "meter alcohol">
                                <div class= "alcohol text">
                                    <h4>Alcohol</h4>
                                    <h4 id="percentage-alcohol"><%=productos[i].abv%>%</h4>
                                </div>
                                <% var abv = (((productos[i].abv)/14)*100)+"%" %>
                                
                                <div class="bar alcohol"><div id="bar-level-alcohol" style= "width: <%= abv %>"></div></div>
                            </div>
                        

                            <div class= "meter bitternes">
                                <div class="bitternes text">
                                    <h4>Amargor</h4>
                                    <h4 id="number-bitternes"><%=productos[i].ibu%></h4>
                                </div>
                                <% var ibu = productos[i].ibu+"%" %>
                                <div class="bar bitternes"><div id="bar-level-bitternes" style= "width: <%= ibu %>"></div></div>
                            </div>
                            <div class="meter srm">
                                <h4>Tono</h4>
                                <% var color = productos[i].srm %>
                                <% var tono = coloresSrm[color]%>
                                <div class = "srm-circle" id = "color-srm" style = "background-color: <%= productos[i].srm_index.code %> "></div>
                            </div>

                            </div>
                    
                        <% } %>
                    <% } %>                                       
                </div>
                <div class="column"><a class="next-card best-button" id= "next-best" data-class="best-button" data-window="bestWindow" data-card="bestCard" data-count=1 data-index=0 onclick="plusCard()">&#10095;</a></div>

            </div>

        </section>
        <section class="combos">
            <div class="combo-container">
                <div class="title-all">
                    <h2>Combos seleccionados</h2>
                    <a>próximamente</a>
                </div>
            </div>
        </section>
        <section class="recomended">
            <div class="title-all">
                <h2>Cervezas recomendadas</h2>
                <a href="/products">ver todas</a>
            </div>
            <div class="window-container" id="window-container">
                <div class= "column">
                    <a class="prev-card recomended-button" id= "last-recomended" data-id= "last-recomended" data-class="recomended-button"  data-window="recomended-window" data-card="recomendedCard" data-count=-1 data-index=0 onclick="plusCard()">&#10094;</a></div>
    
                <div class= "window" id="recomended-window">
                    <% let c = 0; %>
                    <% for (let i = 0; i<productos.length; i++){ %>
                                                
                            <%c++%>    
                            <div class= "list card recomendedCard" id="card<%=c%>">
                            <div class="card title">
                                <a href="/products/<%=productos[i].id%>" class="prodTitle"><h3 id="prod-title"><%=productos[i].name%></h3></a>
                                <h5>por <a class="prod-maker" id="prod-maker" href="#"><%=productos[i].maker.name%></a></h5>
                            </div>
                            
                            <div class= "card prod-img">
                                <a href="/products/<%=productos[i].id%>" class="prodTitle"><img id="prod-img" src="/uploads/<%=productos[i].image%>" alt="imagen producto"></a>
                            </div>
                            <div class="card rating">
                                <% for (let s = 1; s <= productos[i].rating; s++){ %>
                                <div class="fullstar"><img src="/img/star_full.svg" alt=""></div><% } %>
                                <% for (let r = 1; r <= (5-(productos[i].rating)); r++){ %> 
                                    <div class="emptystar"><img src="/img/star_empty.svg" alt=""></div>
                                <% } %>
                            </div>

                            <div class= "meter alcohol">
                                <div class= "alcohol text">
                                    <h4>Alcohol</h4>
                                    <h4 id="percentage-alcohol"><%=productos[i].abv%>%</h4>
                                </div>
                                <% var abv = (((productos[i].abv)/14)*100)+"%" %>
                                
                                <div class="bar alcohol"><div id="bar-level-alcohol" style= "width: <%= abv %>"></div></div>
                            </div>
                        

                            <div class= "meter bitternes">
                                <div class="bitternes text">
                                    <h4>Amargor</h4>
                                    <h4 id="number-bitternes"><%=productos[i].ibu%></h4>
                                </div>
                                <% var ibu = productos[i].ibu + "%" %>
                                <div class="bar bitternes"><div id="bar-level-bitternes" style= "width: <%= ibu %>"></div></div>
                            </div>
                            <div class="meter srm">
                                <h4>Tono</h4>
                                
                                <div class = "srm-circle" id = "color-srm" style = "background-color: <%= productos[i].srm_index.code %> "></div>
                            </div>

                            </div>
                    
                        
                    <% } %>                                       
                </div>
                <div class="column"><a class="next-card recomended-button" id= "next-recomended" data-class="recomended-button" data-window="recomended-window" data-card="recomendedCard" data-count=1 data-index=0 onclick="plusCard()">&#10095;</a></div>

            </div>

        </section>
    </main>
    <%- include('../partials/footer'); %>
    <script>
            function plusCard(){

                let buttonId = event.target.id;

                let count = event.target.getAttribute('data-count');
                let windowId = event.target.getAttribute('data-window');
                let cardClass = event.target.getAttribute('data-card');
                let index = event.target.getAttribute('data-index');
                let counterClass = event.target.getAttribute('data-class');

                index = parseInt(index);
                count = parseInt(count);
                

                let windowRect = document.getElementById(windowId).getBoundingClientRect();
                let cardAmount = (Math.round(windowRect.width/240));

                let cardMove = cardAmount*count;

                let cards = document.getElementsByClassName(cardClass);

                index = index+cardMove;
                
               

                console.log(index);

                let container = document.getElementById(windowId);
                let button = document.getElementById(buttonId);

                button.addEventListener("click", function(){
                    console.log('clickeaste el boton' + buttonId);
                    container.scrollLeft += count*240;
                })
                // button.onclick( console.log('clickeaste el boton' + buttonId)); 
                

                
                
                let counters = document.getElementsByClassName(counterClass);
                
                for( let i = 0; i<counters.length;i++){
                    if(index>=0){
                        counters[i].setAttribute('data-index', index);
                    }
                }
                
            
            } //  Cierra la funcion
    </script>  
</body>
</html>